.container {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ececec;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.img {
    width: 100px;
}

.buttons {
    display: flex;
    flex-direction: column;

    margin: 5px 0;
}

button {
    padding: 10px;
    margin: 5px;

    border: 1px solid #000;
    cursor: pointer;
    background-color: transparent;
}
